html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(94,142,228, 0.75);
    color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}

p {
    text-align: justify;
    text-justify: inter-word;
    margin: 10px;
    font-size: 16px;
}

dt {
    font-size: 18px;
}

dd {
    font-size: 16px;
}

h1 {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
}

h2 {
    font-size: 20px;
}

h4{
    text-align: center;
    font-size: 18px;
}

a {
    background-color: rgba(94,142,228, 0);
    color: rgb(133, 224, 205);
    border: none;
    text-align: center;
    text-decoration: none;
}

.report-header {
    padding-top: 24px; padding-bottom: 24px;
    background-color: rgb(73, 96, 138, 0.4);
    width: 100%;
}

.team-section {
    padding-left: 5vw;
    padding-right: 5vw;
}

    .members {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .member {
        display: flex;
        flex-direction: column;
        width: 33%;
    }
        .member:not(:last-child) {
            margin-right: 12px;
        }

        .member-pic {
            display: block;
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }

        .member-email {
            text-decoration: underline;
            text-align: left;
        }

        .member-role {
            padding-top: 10px;
            font-size: 0.9em; font-weight: 500;
            color: beige;
            max-width: 200px;
        }

.box-container {
    width: 100%;
    white-space: nowrap;
}

button {
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;    
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: rgba(94,142,228, 0);
    display: block;
    margin: auto;
    font-weight: bold;
}

button:hover {
    transform: scale(1.25) perspective(1px);
}

.report-aside {
    padding-top: 24px;
    padding-right: 12px;
    padding-left: 0;
    box-shadow: 1px 0 1px #2C5EB4;
}

.report-main {
    padding-left: 12px;
    padding-right: 5vw;
    padding-top: 24px;
}

.nav {
    list-style: none;
}

.nav-item__link {
    display: block;
    padding: 30px 12px 30px 0px;
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 20px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.section-title {
    font-weight: 500;
    font-size: 32px;
    padding: 0px 5px 5px 5px;
}

.glossary {
    font-size: 1.4em;
}
    .glossary-term {
        text-decoration: underline;
    }
    .glossary-def {
        text-align: justify;
    }

.preview {
    list-style: none;

}

.preview-img {
    width: 600px;
    height: 400px;
}

.report-footer {
    background-color: #2C5EB4;
    padding: 12px 5vw 24px;
}

.report-footer p {
    margin: 0;
}

.report-footer__link {
    color: #fff;
}

#classDiag {
    color: white;
    text-decoration: underline;
}